html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
}

#content {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* Links, buttons and selects */

a, a:link, a:visited {
	color: #FFFF77;
	cursor: pointer;
	display: inline-block;
	margin: 1px;
	padding: 2px;
	text-shadow: 2px 2px #480000;
}

a:hover, a:active { 
	color: #BF0000;
}

input[type=button], select#selVideo {
    background-color: transparent;
	box-shadow: 
		0 1px 1px #FFFFFF,
		0 0 0 #666666,
		inset 0 -1px 1px rgba(0,0,0,0.1),
		inset 0 1px 1px rgba(255,255,255,0.1);
    color: #FFFF77;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
    text-shadow: 2px 2px #480000;
    margin: 4px;
	padding: 4px;
}

input[type=button]:disabled, select#selVideo:disabled  {
    color: #808080;
}

select#selVideo {
	width: 200px;
}

.inline-div {
	display: inline-block;
}

/* Individual windows */

.window {
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	margin: 15px;
	position: fixed;
	opacity: 0.8;
	overflow: auto;
}

#log-window {
	padding-top: 8px;
	top: 0;
	left: 0;
}

#debug-window {
	top: 0;
	right: 0;
}

#log-window #aMessage {
    border-top: 1px solid #000000;
    margin-top: 2px;
    padding-top: 2px;
}

#log-window #aMessage:first-child {
    border-top: 1px solid transparent;
    margin-top: 2px;
    padding-top: 2px;
}

/* The panel at the bottom */

#panel {
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	color: #DDDDDD;
	text-shadow: 2px 2px #222222;
}

#panel table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
	background: url("../img/bg.png") #666666 repeat fixed; 
}

#panel table td {
	padding: 10px;
	background-color: transparent;
	box-shadow: 
		0 4px 4px #FFFFFF,
		0 -3px 3px #666666,
		inset 0 -3px 3px rgba(0,0,0,0.5),
		inset 0 3px 3px rgba(255,255,255,0.8);
}

#panel .numeric {
	color: #B00000;
	font-family: 'Monda', sans-serif;
	font-size: 36px;
	text-align: right;
	text-shadow: 2px 2px #333333, -1px 0 #440000, 0 1px #440000, 1px 0 #440000, 0 -1px #440000;
	/*text-shadow: 2px 2px 0 #333333,
     -1px -1px 0 #440000,  
      1px -1px 0 #440000,
      -1px 1px 0 #440000,
       1px 1px 0 #440000;*/
}

#panel .label {
	color: #BBBBBB;
	display: block;
	font-family: 'Black Ops One', sans-serif;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px #222222;
}

#panel #videos {
	width: 15%;
}

#panel #health {
	width: 12%;
}

#panel #buttons {
	width: 18%;
}

#panel #photo {
	padding: 1px;
	width: 10%;
}

#panel #views {
	width: 12.5%;
}

#panel #subs {
	width: 12.5%;
}

#panel #extra {
	padding: 5px;
	width: 20%;
}

#panel #disclaimer {
	line-height: 15px;
	padding: 3px;
}

/* Events */

.eventPanel {
    background: none repeat scroll 0 0 white;
    border: 2px solid transparent;
    left: 450px;
    padding: 10px;
    position: absolute;
    top: 50px;
    width: 335px;
    z-index: 20;
}

body.noMask .eventPanel {
	background-color: black;
}

.eventPanel:before {
    background-color:ffffff;
    opacity: 0.6;
    content: " ";
    height: 500px;
    left: -452px;
    position: absolute;
    top: -85px;
    width: 1220px;
    z-index: -2;
}

body.noMask .eventPanel:before {
	opacity: 0;
}

.eventPanel:after {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 100%;
	height: 100%;
	content: " ";
	border: 1px solid black;
    box-shadow: 5px 5px 5px #666666;
	z-index: -2;
}

body.noMask .eventPanel:after {
	border-color: white;
}

.eventPanel .button {
	float:left;
	margin-right: 20px;
}


.eventPanel #researchWrapper {
	padding-bottom: 10px;
}

.eventPanel #researchDescription {
	clear:left;
	font-weight: bold;
	padding: 5px 0 5px;
}

.eventPanel #researchText {
	float: left;
	padding: 5px 5px;
}

.eventPanel #researchButton {
	padding: 1px;
}

body.noMask .eventPanel .button {
	border-color: white;
	color: white;
}

.eventTitle {
	font-weight: bold;
}


#description {
	position: relative;
/* 	min-height: 100px; */
}

#description textarea {
	width: 100%;
	height: 100px;
	resize: none;
}

body.noMask #description {
	color: white;
}

#description > div {
	padding-bottom: 20px;
}

#buttons > .button {
    margin: 0 5px 5px;
    margin-right: 15px;
}